.contenedorTexarea {
    display: none;
}

.Guardar {
    display: none;
}

.GuardarCurriculo {
    display: none;
}

.GuardarDocumento {
    display: none;
}

.area {
    cursor: pointer;
}

.DashboardArea {
    cursor: pointer;
}

.Asignatura {
    cursor: pointer;
}

.DashboardAsign {
    cursor: pointer;
}

#portapdf {
    width: 100%;
    height: 800px;
    border: 1px solid #484848;
    margin: 0 auto;
}

.iconoeditar {
    color: #398bf7;
}

.iconoguardar {
    color: #4caf50;
}

.cursor {
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.cl-blanco {
    color: #ffffff !important;
}

.fondoInput {
    background: #fffdb3 !important;
}

.fondo-azul {
    background-color: #398bf7;
}

thead {
    background: #9fbadd;
}

.selected {
    background: #dbd1d1 !important;
}

tr {
    cursor: pointer;
}

tr:hover {
    background: #dad1d1 !important;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}