/*
====================================================

* 	[Master Stylesheet]
	
	Theme Name :  
	Version    :  
	Author     :  
	Author URI :  

====================================================

	TOC
	
	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
		JQUERY LIGHT BOX
	3. LEFT SECTION
	4. RIGHT SECTION

====================================================

/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */

html {
	font-size: 100%;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	margin: 0px;
	padding: 0px;
	touch-action: manipulation;
}

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	overflow-x: hidden;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img,
inpot,
button {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	font-weight: inherit;
}

h1,
h2,
h3 {
	font-family: 'Poppins', sans-serif;
}

p {
	line-height: 1.6;
	font-size: 1.05em;
	font-weight: 400;
	color: #555;
}

h1 {
	font-size: 3.5em;
	line-height: 1;
}
h2 {
	font-size: 3em;
	line-height: 1.1;
}
h3 {
	font-size: 2.5em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 0.9em;
	letter-spacing: 1px;
}

a,
button {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: all 0.3s;
	line-height: 1;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover,
a b.light-color:hover {
	text-decoration: none;
	color: #e45f74;
}

b {
	font-weight: 500;
}

img {
	width: 100%;
}

.social {
	list-style: none;
	display: inline-block;
}

span {
	display: inline-block;
}

button {
	outline: 0;
	border: 0;
	background: none;
	cursor: pointer;
}

b.light-color {
	color: #444;
}

.icon {
	font-size: 1.1em;
	display: inline-block;
	line-height: inherit;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	line-height: inherit;
}

/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.center-text {
	text-align: center;
}

.display-table {
	display: table;
	height: 100%;
	width: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

::-webkit-input-placeholder {
	font-size: 0.9em;
	letter-spacing: 1px;
}

::-moz-placeholder {
	font-size: 0.9em;
	letter-spacing: 1px;
}

:-ms-input-placeholder {
	font-size: 0.9em;
	letter-spacing: 1px;
}

:-moz-placeholder {
	font-size: 0.9em;
	letter-spacing: 1px;
}

.full-height {
	height: 100%;
}

.position-static {
	position: static;
}

.main-area {
	position: relative;
	height: 100vh;
}

/* ---------------------------------
3. LEFT SECTION
--------------------------------- */

.left-section {
	float: left;
	width: 50%;
	position: relative;
}

.left-section .logo {
	position: absolute;
	top: 50px;
	height: 50px;
}

.left-section .logo img {
	height: 100%;
	width: auto;
}

.left-section .main-content {
	padding: 40px 40px 40px 0;
}

.main-content .title {
	font-size: 50px !important;
	font-weight: 500;
	margin-bottom: 15px;
}

.main-content .title-white {
	color: #fff;
	margin-bottom: 15px;
}

.main-content .post-desc {
	color: #999;
}

.max-image {
	width: 100% !important;
}

.left-section .footer-icons {
	position: absolute;
	bottom: 30px;
}

.left-section .footer-icons > li > a {
	display: inline-block;
	font-size: 1.07em;
	padding: 0 0px;
}

.left-section .footer-icons > li:first-child {
	margin-right: 10px;
}

.left-section .footer-icons > li > a > i {
	display: inline-block;
	height: 35px;
	line-height: 33px;
	transition: all 0.2s;
	border-radius: 40px;
	text-align: center;
	width: 35px;
}

.left-section .footer-icons > li > a:hover > i {
	border: 1px solid;
}

.left-section .footer-icons > li > a > i[class*='facebook'] {
	color: #2a61d6;
	border-color: #2a61d6;
}
.left-section .footer-icons > li > a > i[class*='twitter'] {
	color: #3aa4f8;
	border-color: #3aa4f8;
}
.left-section .footer-icons > li > a > i[class*='google'] {
	color: #f43846;
	border-color: #f43846;
}
.left-section .footer-icons > li > a > i[class*='instagram'] {
	color: #8f614a;
	border-color: #8f614a;
}
.left-section .footer-icons > li > a > i[class*='pinterest'] {
	color: #e1c013;
	border-color: #e1c013;
}

/* ---------------------------------
4. RIGHT SECTION
--------------------------------- */

.right-section {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50%;
	background-size: cover;
	z-index: 1;
}

.right-section:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -2;
	opacity: 0.3;
	background: linear-gradient(to right, #23074d, #cc5333);
}

#rounded-countdown {
	width: 80%;
	margin: 0 auto;
}

/* 
 CountDown
*/
.countdown-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdown-item {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 30px;
	margin: 10px;
	padding-top: 10px;
	position: relative;
	width: 100px;
	height: 100px;
}

.countdown-item span {
	color: #333;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.countdown-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 120px;
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	#rounded-countdown {
		width: 100%;
	}
}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	.main-area {
		position: relative;
		height: 200vh;
	}

	/* ---------------------------------
	3. LEFT SECTION
	--------------------------------- */

	.left-section {
		float: none;
		width: 100%;
		height: 50%;
	}

	.left-section .main-content {
		padding: 40px 0;
	}

	.left-section .footer-icons > li > a > i {
		height: 30px;
		line-height: 28px;
		width: 30px;
	}

	/* ---------------------------------
	4. RIGHT SECTION
	--------------------------------- */

	.right-section {
		top: 50%;
		bottom: auto;
		width: 100%;
		height: 50%;
	}

	.date-countdown {
		width: 100%;
	}

	.date-countdown .time_circles > div > h4 {
		font-size: 0.7em !important;
	}
}

/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p {
		line-height: 1.4;
	}

	h1 {
		font-size: 2.8em;
		line-height: 1;
	}
	h2 {
		font-size: 2.2em;
		line-height: 1.1;
	}
	h3 {
		font-size: 1.8em;
	}
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body {
		font-size: 12px;
	}
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
}
