*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wi-85 {
	width: 85%;
	margin: auto;
}

.ajustar {
	display: block;
	transform: translateY(-20px);
	margin-left: 120px;
}

.sidebar-toggle::before {
	content: '' !important;
}

.icon-border-radios {
	width: 40px;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
	margin-right: 10px;
	line-height: 40px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 100px;
}

.pointer {
	cursor: pointer !important;
}

.small-spinner {
	display: inline-block;
	width: 20px !important;
	height: 20px !important;
}

.bbcita {
	display: flex;
	justify-content: center;
}
